<li id="article-<%= article.id %>">
<span class="image"><%= image_tag article.picture.url if article.picture? %></span>
    <span class="content"><%= link_to article.title, article %></span>
  <span class="content"><%= article.content[0,250] %>...
  </span>
  
  <span class="timestamp">
    Created <%= time_ago_in_words(article.created_at) %> ago by
  </span>
  <span class="user"> | <%= link_to article.user.name, article.user %></span>
<%= link_to gravatar_for(article.user, size: 50), article.user %>
</li>