<li id="article-<%= article.id %>">
  <%= link_to gravatar_for(article.user, size: 50), article.user %>
  <span class="user"><%= link_to article.user.name, article.user %></span>
    <span class="content"><%= link_to article.title, article %></span>
  <span class="content"><%= article.content[0,250] %>...</span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </span>
</li>