<h1><%= @articles.title %> </h1>
<p><%= @articles.content %> </p>
<p><%= @articles.created_at %> </p>
<% if logged_in? %>
	| <%= link_to "Tillbaka", root_path %>
    | <%= link_to "Redigera", edit_article_path(@articles) %>
    | 
    <%= link_to "Ta bort",@article, :confirm => "Är du säker?", :method => :delete %>
    <% else %>
    <%= link_to "Tillbaka", root_path %>
  <% end %>



